html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #F8F8F8;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.url-link {
    color: black;
}

.url-link:hover {
    color:cornflowerblue !important;
    text-decoration: none;
}
nav, #first-nav {
    background-color: #0076D8;
    padding: 8px 0 8px 0;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.navbar-brand {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
}

.jumbotron-billboard .img {
    margin-bottom: 0;
    background: linear-gradient(to bottom, rgba(63, 62, 64, 0.3), rgba(63, 62, 64, 0.3)), url("../img/camping.jpg");
    color: #fff;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.jumbotron {
    position: relative;
    padding: 50px;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
    z-index: 2;
}

.container-header {
    text-align: center;
}

.container-header .logo {
    display: block;
    margin: 0 auto 20px auto;
    color: black;
}

.container {
    margin-top: 3%;
}

.card {
    padding: 10px;
}

.form-spacing-top {
    margin-top: 20px;
}

.pagination {
    float: right;
}

.see_posts {
    margin-top: 20px;
}

.see_posts .btn-outline-secondary {
    color: black;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.review {
    margin-bottom: 45px;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name > h3 {
    margin: 5px 0;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.review-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.reviews-title {
    margin-bottom: 45px;
    margin-top: 40px;
}

.reviews-title i {
    margin-right: 15px;
}

.invalid-feedback {
    color: red !important;
}








