html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #F8F8F8;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.navbar-brand {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
}

.container-header {
    text-align: center;
}

.container-header .logo {
    display: block;
    margin: 0 auto 20px auto;
    color: black;
}

.container {
    margin-top: 3%;
}

.card {
    padding: 10px;
}

.form-spacing-top {
    margin-top: 20px;
}

.pagination {
    float: right;
}

.see_posts {
    margin-top: 20px;
}

.see_posts .btn-outline-secondary {
    color: black;
}

.btn-outline-primary {
    border-color: #F1B661;
    color: #F1B661;
}

.btn-outline-primary:hover, .btn-primary:hover {
    background-color: #F1B661;
    border-color: #F1B661;
}

.btn-primary {
    border-color: #F1B661;
    background-color: #F1B661;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.comment {
    margin-bottom: 45px;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name > h3 {
    margin: 5px 0;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comments-title {
    margin-bottom: 45px;
    margin-top: 40px;
}

.comments-title i {
    margin-right: 15px;
}

.invalid-feedback {
    color: red !important;
}






